body{
	background-image: url('../img/background.png');
	padding-left: 20px;
	padding-right: 20px;
}
#container1{
	background-image: url(../img/cover6.jpg);
	background-size: cover;
	
	height: 340px;
}
#main-nav{
	background: none;
	border: 0px;
}
.toplinks{
	padding: 3px;
	float: right;
}
#container1>.navbar-default .navbar-nav>li>a{
	color: #fff !important ;
	font-weight: bold;
	font-size: 12px;
	padding: 0px;
	padding-top:  10px;
}

#container1>.navbar-default .navbar-nav>li{	
	margin-right: 10px;
}
#container2{
	padding: 0px;
}
#container2>.navbar-default .navbar-nav>li>a{
	font-size: 19px;
	padding: 8px;
	font-weight: bold;
	color: #222;
}
#container2>.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background: #006DCC;
	color: #fff;
}
#stickynavbar{
	margin-top: 25px;
	margin-bottom: 25px;

}
#search{
	margin-top: 25px;
	margin-bottom: 25px;
	
	border: none;

}


#ham2{
	float: left;
	margin: 35px;
	
}
.navbar-form .form-group{
	display: inline-block;
}
@media (max-width: 768px){
	.container-fluid{
		padding: 0px;
	}
	#container1 .navbar-default .navbar-collapse,#container1 .navbar-default #container1>.navbar-form{		
		padding-right: 0px;
		padding-left: 30px;
		border: 2px solid #fff;

		background: #fff;
		width: 35%;
		float: right;
	}
	#container1>.navbar-default .navbar-nav>li{
		margin: 0px;
		width: inherit;
	}
	#container1>.toplinks{
		padding-left: 15px;
		float: left;
		
	}
	.toplinks{
		float: left;
		padding: 0px;
		width: 100%;
	}
	#container1 .nav .navbar-nav .toplinks{
		float: left;
		margin: 0px;
	}
	#container1>.navbar-default .navbar-nav>li>a{
		color: #aaa !important;
		width: 100%;
		padding:10px;
	}
	#container1>.navbar-default .navbar-nav>li>a:hover{
		background: #aaa;
		color: #222 !important;
	}
	#container1>.navbar-default .navbar-toggle{
		margin:0px;
		color: #fff;
		background: none;
		border: 0px;
	}
	#container1>.navbar-default .navbar-toggle:hover{
		background: none;
		color: #222;
	}
	#search{
		
			width: 85%;
			margin-left: 0px;
	}

	#container1 .navbar-nav>li>a{
		line-height: 12px;
	}

	.nothing::after { 
	    content: " ";
	    color: #fff;
	}

	#nav2-bar{

	}

}
.nothing::after { 
    content: " \2022 ";
}